<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="application.properties"/>

    <typeAliases>
        <typeAlias type="com.example.madbank.model.User" alias="User" />
        <typeAlias type="com.example.madbank.model.Account" alias="Account" />
        <typeAlias type="com.example.madbank.model.Transaction" alias="Transaction"/>
    </typeAliases>

    <mappers>

    </mappers>
</configuration>