<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.madbank.mapper.AccountMapper">

    <insert id="createAccount">
        INSERT INTO account (user_id, account_number)
        VALUES (#{userId}, #{accountNumber})
    </insert>

    <select id="isAccountAlreadyExist">
        SELECT ifnull(max(user_id),0) user_id
        FROM account
        WHERE user_id=#{userId}
    </select>

    <select id="getAccountNumberByuserId">
        SELECT ifnull(max(account_number),0) account_number
        FROM account
        WHERE user_id=#{userId}
    </select>

    <select id="getLastAccountNumber">
        SELECT MAX(account_number)
        FROM account;
    </select>

    <select id="getAccountByUid">
        SELECT *
        FROM account
        WHERE user_id = #{id}
    </select>

    <select id="getBalanceByAccountId">
        SELECT *
        FROM account
        WHERE id = #{id}
    </select>
</mapper>