<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.madbank.mapper.TransactionMapper">

    <resultMap id="TransactionResultMap" type="Transaction">
        <result column="id" property="transactionId"/>
        <result column="sender_id" property="senderId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="transaction_type" property="transactionType"/>
        <result column="cost" property="cost"/>
        <result column="result_code" property="resultCode"/>
    </resultMap>

    <update id="updateBalance">
        UPDATE account
        SET balance = #{balance}
        WHERE user_id = #{userId}
    </update>

    <insert id="insertTransaction" useGeneratedKeys="true" keyProperty="transactionId">
        INSERT INTO transaction (sender_account_id, receiver_account_id, transaction_type, cost, result_code)
        VALUES (#{senderId}, #{receiverId}, #{transactionType}, #{cost}, #{resultCode})

    </insert>

    <update id="changeResultcode">
        UPDATE transaction
        SET result_code = 'Success'
        WHERE transaction_id = #{transactionId}
    </update>

    <select id="getAllTransactionWithAccountId" resultMap="TransactionResultMap">
        SELECT *
        FROM transaction
        WHERE sender_account_id = #{accountId} OR receiver_account_id = #{accountId}
    </select>

</mapper>